<nav class="navbar navbar-expand" id="menubar">
	<ul class="navbar-nav mr-auto font-weight-bold">
		<li class="nav-item">
			<a href="#" id="sidebarCollapse">
				<i class="fas fa-bars"></i>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=1">
				<div class="row">
					<div class="col">
						<span>Enero</span>
					</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=2">
				<div class="row">
					<div class="col">
						<span>Febrero</span>
					</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=3">
				<div class="row">
					<div class="col">
						<span>Marzo</span>
					</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=4">
				<div class="row">
					<div class="col">
						<span>Abril</span>
					</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=5">
				<div class="row">
					<div class="col">
						<span>Mayo</span>
					</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=6">
				<div class="row">
					<div class="col">
						<span>Junio</span>
					</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=7">
				<div class="row">
					<div class="col">
						<span>Julio</span>
					</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=8">
				<div class="row">
					<div class="col">
						<span>Agosto</span>
					</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=9">
				<div class="row">
					<div class="col">
						<span>Septiembre</span>
					</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=10">
				<div class="row">
					<div class="col">
						<span>Octubre</span>
					</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=11">
				<div class="row">
					<div class="col">
						<span>Noviembre</span>
					</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/data_as?year={{ current_year }}&month=12">
				<div class="row">
					<div class="col">
						<span>Diciembre</span>
					</div>
				</div>
			</a>
		</li>
	</ul>
</nav>
